# Copy this file to .env and fill in your values
# Never commit the real .env to GitHub!

MONGO_URI=mongodb+srv://youruser:yourpassword@cluster0.mongodb.net/riskauth
SECRET_KEY=your_super_secret_jwt_key_here_make_it_long
MAIL_USERNAME=yourgmail@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_DEFAULT_SENDER=yourgmail@gmail.com
